html {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  margin: 0 24px;
}

header .container {
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 32px;
}

nav ul {
  font-size: 1.2rem;
  display: flex;
}

nav ul li {
  padding-left: 16px;
}

nav.mobile {
  display: none;
}

.banner {
  background-color: #B7B1A9;
}

.banner .img-container {
  width: 60%;
  height: auto;
  overflow: hidden;
  margin: 32px 0;
}

.banner .img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner .cta {
  margin-left: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 32px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 32px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.cta .subtitle {
  font-size: 1.2rem;
  padding-bottom: 32px;
}

.cta .button {
  background-color: #4D4F53;
  padding: 8px;
  color: white;
  text-align: center;
  /*width: 75%;
  margin: 0 auto;*/
}

.main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 32px 0;
}

.main-article .img-container {
  height: auto;
  overflow: hidden;
}

.main-article .img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-article h2 {
  padding-bottom: 24px;
}

p .author {
  font-size: 0.75rem;
}

.featured-info, .featured-theses {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.featured-info {
  padding: 32px 0;
  /*Specs show left-border here, but this is removed for aesthetic reasons*/
  /*border-left: 1px solid #B7B1A9; */
}

.info-item {
  display: flex;
  padding: 16px;
  border: 1px solid #B7B1A9;
}

.info-item .img-container {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.info-item .img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info-item a {
  color: #3DB7E4;
  padding-top: 8px;
}

.info-item .description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.courses {
  background-color: #B7B1A9;
  padding-bottom: 16px;
}

.container.small {
  margin: 0 56px;
  flex-wrap: wrap;
}

.courses h2 {
  text-align: center;
  padding-bottom: 16px;
}

.course {
  width: 30%;
  margin: 16px;
  flex-grow: 1;
  background-color: white;
}

.course img {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-info {
  padding: 16px 16px 24px 16px;
}

span.category {
  display: block;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.thesis h2 {
  text-align: center;
  padding-bottom: 32px;
}

.video-section {
  width: 60%;
}

.thesis .img-container {
  height: auto;
  overflow: hidden;
}

.thesis .img-container video {
  max-width: 100%;
  height: auto;
  display: block;
}

.video-section h3 {
  padding-top: 24px;
}

.acc-article {
  margin-bottom: 32px;
}

.featured-theses .info-item {
  border: none;
}

.highlighted {
  background-color: #C8E9EF;
}

footer {
  height: 72px;
  font-size: 0.75rem;
  border-top: 1px solid #B7B1A9;
  padding-top: 16px;
}

footer .container {
  justify-content: space-between;
}

footer a {
  padding-left: 8px;
}
