/* TEXT STYLES */

html {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  padding-bottom: 32px;
}

h2 {
  font-size: 1.5rem;
  padding-top: 32px;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  color: black;
}

/* REUSABLE COMPONENTS */

.container {
  display: flex;
  margin: 0 24px;
}

.media-container {
  height: auto;
  overflow: hidden;
}

.course img, .media-container img, video {
  width: 100%;
  height: auto;
  display: block;
}

  /* HEADER */

header .container, footer .container {
  justify-content: space-between;
}

header .container {
  height: 64px;
  align-items: center;
}

.logo {
  height: 32px;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo .academy {
  color: #B7B1A9;
}

nav ul {
  font-size: 1.2rem;
  display: flex;
}

nav ul li {
  padding-left: 16px;
}

nav.mobile {
  display: none;
}

/* BANNER */

.banner {
  background-color: #B7B1A9;
}

.banner .media-container {
  width: 60%;
  margin: 32px 0;
}

.cta {
  margin-left: 24px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta .subtitle {
  font-size: 1.2rem;
  padding-bottom: 32px;
}

.cta .button {
  background-color: #4D4F53;
  padding: 8px;
  color: white;
  text-align: center;
  /*width: 75%;
  margin: 0 auto;*/
}

/* INFORMATION */

.main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 32px 0;
}

.main-article h2 {
  padding-bottom: 24px;
}

p.author {
  font-size: 0.75rem;
}

.featured-info, .featured-theses {
  /*Specification inconsistency here: 60% + 40% width of elements with 24px margin in between is more than 100%.
  Therefore the width will grow to fill the remaining space*/
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 24px;
}

.featured-info {
  padding: 32px 0;
  /*Specs show left-border here, but this is removed for aesthetic reasons*/
  /*border-left: 1px solid #B7B1A9; */
}

.info-item {
  display: flex;
  padding: 16px;
  border: 1px solid #B7B1A9;
}

.info-item .media-container {
   width: 35%;
 }

.info-item .media-container img.mobile {
  display: none;
}

.info-item .description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.info-item a {
  color: #3DB7E4;
  padding-top: 8px;
}

.highlighted {
  background-color: #C8E9EF;
}

/* COURSES */

.courses {
  background-color: #B7B1A9;
  padding-bottom: 16px;
}

.container.small {
  margin: 0 56px;
  flex-wrap: wrap;
}

.courses h2 {
  text-align: center;
  padding-bottom: 16px;
}

.course {
  width: 30%;
  margin: 16px;
  flex-grow: 1;
  background-color: white;
}

.course-info {
  padding: 16px 16px 24px 16px;
}

span.category {
  display: block;
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* THESIS */

.thesis h2 {
  text-align: center;
  padding-bottom: 32px;
}

.video-section {
  width: 60%;
}

.video-section h3 {
  padding-top: 24px;
}

.acc-article {
  margin-bottom: 32px;
}

.featured-theses .info-item {
  border: none;
}

/* FOOTER */

footer {
  height: 72px;
  font-size: 0.75rem;
  border-top: 1px solid #B7B1A9;
  padding-top: 16px;
}

footer a {
  padding-left: 8px;
}

/* MOBILE VERSION, BREAKPOINT NOW AT 640px */
@media only screen and (max-width: 640px) {

  .container {
    margin: 0 16px;
  }

  /* Header */
  .logo {
    flex-grow: 1;
  }

  .logo span, nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    flex-grow: 2;   /* navigation should take up 2/3 of the screen, so it should grow twice as fast as the logo. */
  }

  nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  /* Banner */
  .banner .container {
    margin: 0;
    flex-wrap: wrap;
  }

  .banner .media-container {
    width: 100%;
    margin: 0;
    /*picture is limited in height and vertically centered in mobile spec*/
    height: 275px;
    display: flex;
    align-items: center;
  }

  .cta {
    width: 100%;
    margin: 32px 16px;
  }

  .cta .subtitle {
    padding-bottom: 24px;
  }

  /* Information */
  .main-article {
    display: none;
  }

  .featured-info {
    width: 100%;
    margin-left: 0;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
  }

  .info-item .media-container {
    width: 100%;
  }

  .info-item .media-container img.desktop {
    display: none;
  }

  .info-item .media-container img.mobile {
    display: block;
  }

  .info-item .description {
    width: 100%;
    padding: 32px 16px;
  }

  /* Courses */
  .courses {
    border-top: 1px solid #B7B1A9;
    border-bottom: 1px solid #B7B1A9;
    background-color: #FFF;
    padding-bottom: 24px;
  }

  .container.small {
    margin: 0 16px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .course {
    width: auto;
    background-color: #B7B1A9;
    margin: 0 0 8px 0;
  }

  .course img, span.category, .course p {
    display: none;
  }

  .course h3 {
    padding-bottom: 0;
  }

  /* Thesis */
  .thesis h2 {
    padding-bottom: 16px;
  }

  .featured-theses, .acc-article {
    display: none;
  }

  .video-section {
    width: 100%;
    margin-bottom: 24px;
  }

  /* Footer */
  footer {
    border: none;
    height: auto;
  }

  footer span {
    font-size: 1rem;
    padding-bottom: 16px;
  }

  footer .links {
    display: none;
  }

}